<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Monitor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/static/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/static/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
</head>
<body>
<!--
    ┌──────────────────────────────────────────────────────────┐
    │                     Toast Container                      │
    └──────────────────────────────────────────────────────────┘
-->
<div class="toast-container"></div>


<!--
    ┌──────────────────────────────────────────────────────────┐
    │                  Navigation Bar on Top                   │
    └──────────────────────────────────────────────────────────┘
-->
<nav class="navbar bg-primary mb-4" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span
                style="font-weight: bold;font-size: larger;"><img src="/static/favicon-128x128.png"
                                                                  style="height:64px;"> Meshtastic Node Monitor</span></a>
        <span class="navbar-brand"
              style="font-weight: lighter;">{{ name }}, Meshtastic Version: {{ version }}, Battery: Level={{ batt_level }}, Voltage={{ voltage }}</span>
    </div>
</nav>

<!--
    ┌──────────────────────────────────────────────────────────┐
    │                      Packet Counts                       │
    └──────────────────────────────────────────────────────────┘
-->
<div class="container-fluid">
    <h2>Packet Totals</h2>
    <table id="summary-table" class="table table-bordered">
        <tr id="summary-headers"></tr>
        <tr id="summary-values"></tr>
    </table>

    <p>&nbsp;</p>

    <!--
        ┌────────────────────────────────────────────────────────────────────┐
        │                          Tabs Navigation                           │
        └────────────────────────────────────────────────────────────────────┘
    -->
    <ul class="nav nav-tabs nav-fill" id="monitorTabs" role="tablist" style="border-bottom: 2px solid #dee2e6;">
        <li class="nav-item" role="presentation">
            <button class="nav-link active fw-bold fs-5 py-3 active" id="packets-tab" data-bs-toggle="tab"
                    data-bs-target="#packets" type="button" role="tab" aria-controls="packets" aria-selected="true"
                    style="border: 1px solid #dee2e6;">Packets Received
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold fs-5 py-3" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
                    type="button" role="tab" aria-controls="messages" aria-selected="false" tab-index="=1"
                    style="border: 1px solid #dee2e6;">Messages
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold fs-5 py-3" id="nodes-tab" data-bs-toggle="tab" data-bs-target="#nodes"
                    type="button" role="tab" aria-controls="nodes" aria-selected="false" tab-index="=1"
                    style="border: 1px solid #dee2e6;">Nodes
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bold fs-5 py-3" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings"
                    type="button" role="tab" aria-controls="settings" aria-selected="false" tab-index="=1"
                    style="border: 1px solid #dee2e6;">Settings
            </button>
        </li>

    </ul>

    <!--
        ╔══════════════════════════════════════════════════════════╗
        ║                       Tabs Content                       ║
        ╚══════════════════════════════════════════════════════════╝
    -->

    <div class="tab-content" id="monitorTabsContent">


        <!--
            ┌──────────────────────────────────────────────────────────┐
            │                       Packets Tab                        │
            └──────────────────────────────────────────────────────────┘
        -->
        <div class="tab-pane fade show active" id="packets" role="tabpanel" aria-labelledby="packets-tab">
            <div class="container-fluid">
                <div class="row mb-3 align-items-end">
                    <div class="col"></div>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" id="packet-filter" class="form-control"
                                   placeholder="Enter filter text...">
                            <button class="btn btn-primary ml-1" type="button" id="apply-filter">Filter</button>
                            <button class="btn btn-secondary ml-1" type="button" id="reset-filter">Reset</button>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <table id="packets-table" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Received</th>
                            <th>Node Id</th>
                            <th>Node Name</th>
                            <th>Hops</th>
                            <th>RSSI</th>
                            <th>Type</th>
                            <th>Information</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--
            ┌──────────────────────────────────────────────────────────┐
            │                       Messages Tab                       │
            └──────────────────────────────────────────────────────────┘
        -->
        <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">


            <div class="accordion" id="channelAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Channels List
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                <!-- colums are: 'index', 'name', 'psk', 'psk_bits', 'role' -->
                                <tr>
                                    <th>Index</th>
                                    <th>Name</th>
                                    <th>PSK</th>
                                    <th>PSK Bits</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ch in channels %}
                                    <tr>
                                        <td>{{ ch.index }}</td>
                                        <td>{{ ch.name }}</td>
                                        <td>{{ ch.psk }}</td>
                                        <td>{{ ch.psk_bits }}</td>
                                        <td>{{ ch.role }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" onclick="showChannelModal({{ ch.index }}, '{{ ch.name }}')">Send Message</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid mt-3">
                <div class="row mb-3 align-items-end">
                    <div class="col"></div>
                    <div class="form-check col" style="font-size: x-large;">
                        <input class="form-check-input" type="checkbox" id="include-encrypted">
                        <label class="form-check-label" for="include-encrypted" data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Show encrypted messages (that we cannot decrypt with keys we know)?">
                            Include encrypted messages? ⓘ
                        </label>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <table id="messages-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Date Time</th>
                    <th>From Id</th>
                    <th>From Name</th>
                    <th>To</th>
                    <th>Channel</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!--
            ┌──────────────────────────────────────────────────────────┐
            │                        Nodes Tab                         │
            └──────────────────────────────────────────────────────────┘
        -->
        <div class="tab-pane fade" id="nodes" role="tabpanel" aria-labelledby="nodes-tab">
            <table id="nodes-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Last Heard</th>
                    <th>Node Id</th>
                    <th>Node Name</th>
                    <th>Hardware</th>
                    <th>Hops Away</th>
                    <th>Distance</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <!--
            ┌──────────────────────────────────────────────────────────┐
            │                       Settings Tab                       │
            └──────────────────────────────────────────────────────────┘
        -->
        <div class="tab-pane fade  " id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="container mt-5">
                <!-- Row 1 -->
                <div class="row m5-t">
                    <div class="col">How often should we refresh the UI with new data?</div>
                    <div class="col">
                        <select id="refreshtime" aria-label="Select a value" style="width: 10em;text-align: right;">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                        </select>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row mt-5">
                    <div class="col">Maximum number of rows of data to display</div>
                    <div class="col"><input id="maxrows" type="number" value="64"
                                            style="width: 10em;text-align: right;"></div>
                </div>

                <div class="row mt-5">
                    <div class="col">&nbsp;</div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary" onclick="restoreSettings()">Undo Changes
                        </button>
                        <button type="button" class="btn btn-primary" onclick="updateSettings()">Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    ┌──────────────────────────────────────────────────────────┐
    │         Details Modal (Used for Details Pop-up)          │
    └──────────────────────────────────────────────────────────┘
-->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Content will be loaded here dynamically -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--
    ┌───────────────────────────────────────────────────────────┐
    │                       Send DM Modal                       │
    └───────────────────────────────────────────────────────────┘
-->
<div class="modal fade" id="dmModal" tabindex="-1" aria-labelledby="dmmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dmmodalLabel">Direct Message <span id="dmId"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Input for the message -->
                <label for="dm-message" class="form-label">Message:</label>
                <input type="text" id="dm-message" class="form-control" placeholder="Enter message...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendDM();">Send</button>
            </div>
        </div>
    </div>
</div>

<!--
    ┌───────────────────────────────────────────────────────────┐
    │                    Send Channel Modal                     │
    └───────────────────────────────────────────────────────────┘
-->
<div class="modal fade" id="channelModal" tabindex="-1" aria-labelledby="channelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="channelModalLabel">Send to Channel #<span id="channelId"></span> <span
                        id="channelName"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Input for the message -->
                <label for="hannelMessage" class="form-label">Message:</label>
                <input type="text" id="channelMessage" class="form-control" placeholder="Enter message...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendChannel();">Send
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/static/index.js"></script>
</body>
</html>